
## close-sources components
unity-projects/exp-launcher/Assets/Scripts/Data/Components/Closed
## only for LNCO
unity-projects/exp-launcher/Assets/Scripts/Data/Components/LNCO-only



*.pro.user
*.pro.user*

## bin
bin/**/*.exe
bin/**/*.lib
bin/**/*.pdb
bin/**/export/*.dll
bin/**/*.ilk
bin/**/*.pdb
bin/**/*.exp
bin/**/*logs.html
bin/**/exvr-designer/logs
bin/**/exvr-designer/exp-launcher/mono-scripting
bin/**/exvr-designer/exp-launcher/**/*.dll
bin/**/exvr-designer/exp-launcher/**/*.pdb
bin/**/exvr-designer/exp-launcher/**/*.py
bin/**/exvr-designer/exp-launcher/**/*.exe.config
bin/**/exvr-designer/exp-launcher/**/*.xsd
bin/**/exvr-designer/exp-launcher/**/*.config
bin/**/exvr-designer/exp-launcher/**/*.config
bin/**/exvr-designer/exp-launcher/**/*.targets
bin/**/exvr-designer/exp-launcher/**/*.psb
bin/**/exvr-designer/exp-launcher/**/*.json
bin/**/exvr-designer/exp-launcher/**/*.psb
bin/**/exvr-designer/exp-launcher/**/*.xml
bin/**/exvr-designer/exp-launcher/**/*.tasks
bin/**/exvr-designer/exp-launcher/**/*.rsp
bin/**/exvr-designer/exp-launcher/**/*.resS
bin/**/exvr-designer/exp-launcher/**/*.resource
bin/**/exvr-designer/exp-launcher/**/*.mdb
bin/**/exvr-designer/exp-launcher/**/*.info
bin/**/exvr-designer/exp-launcher/**/*.bat
bin/**/exvr-designer/exp-launcher/**/*.browser
bin/**/exvr-designer/exp-launcher/**/*.aspx

## temp
temp/**/*.obj
temp/**/*.cpp
temp/**/*.h
temp/**/*.hpp
temp/**/*.opt

## qmake
qmake/**/*.rc
qmake/**/*.pch
qmake/**/*.obj
qmake/**/.qmake.stash
qmake/**/MakeFile
qmake/**/MakeFile.Debug
qmake/**/MakeFile.Release

## unity-projects
unity-projects/exp-launcher/Logs
unity-projects/exp-launcher/SteamVR*
unity-projects/exp-launcher/Unity.XRLineRenderer*
unity-projects/exp-launcher/Assets/_TerrainAutoUpgrade
unity-projects/exp-launcher/*.exe
unity-projects/exp-launcher/.vs
unity-projects/exp-launcher/Packages
unity-projects/exp-launcher/AssetBundles
unity-projects/exp-launcher/etc
unity-projects/exp-launcher/Library
unity-projects/exp-launcher/UnityPackageManager
unity-projects/exp-launcher/obj
unity-projects/exp-launcher/Temp
unity-projects/exp-launcher/Temp
unity-projects/exp-launcher/Assets/Plugins
unity-projects/exp-launcher/Assets/AssetBundles
unity-projects/exp-launcher/Assets/Thirdparty/private

## thirdparty
thirdparty/**/*.sh
thirdparty/**/*.re
thirdparty/**/*.txt
thirdparty/**/*.dtd
thirdparty/**/*.pl
thirdparty/**/*.m4
thirdparty/**/*.ilk
thirdparty/**/*.inc
thirdparty/**/*.db
thirdparty/**/*.shm
thirdparty/**/*.erb
thirdparty/**/*.wal
thirdparty/**/*.bat
thirdparty/**/*.patch
thirdparty/**/*.exe
thirdparty/**/.editorconfig