
## close-sources components
unity-projects/exp-launcher/Assets/Scripts/Data/Components/Closed
## only for LNCO
unity-projects/exp-launcher/Assets/Scripts/Data/Components/LNCO-only

*.pro.user
*.pro.user*

## bin
cpp-projects/_bin/**/*.exe
cpp-projects/_bin/**/*.lib
cpp-projects/_bin/**/*.pdb
cpp-projects/_bin/**/export/*.dll
cpp-projects/_bin/**/*.ilk
cpp-projects/_bin/**/*.pdb
cpp-projects/_bin/**/*.exp
cpp-projects/_bin/**/*logs.html
cpp-projects/_bin/**/exvr-designer/logs
cpp-projects/_bin/**/exvr-designer/exp-launcher/ExVR-exp_Data
cpp-projects/_bin/**/exvr-designer/exp-launcher/MonoBleedingEdge
cpp-projects/_bin/**/exvr-designer/exp-launcher/UnityPlayer.dll
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.pdb
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.py
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.exe.config
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.xsd
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.config
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.config
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.targets
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.psb
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.json
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.psb
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.xml
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.tasks
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.rsp
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.resS
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.resource
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.mdb
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.info
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.bat
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.browser
cpp-projects/_bin/**/exvr-designer/exp-launcher/**/*.aspx

## temp
cpp-projects/_temp/**/*.obj
cpp-projects/_temp/**/*.cpp
cpp-projects/_temp/**/*.h
cpp-projects/_temp/**/*.hpp
cpp-projects/_temp/**/*.opt

## qmake
cpp-projects/_qmake/**/*.rc
cpp-projects/_qmake/**/*.pch
cpp-projects/_qmake/**/*.obj
cpp-projects/_qmake/**/.qmake.stash
cpp-projects/_qmake/**/MakeFile
cpp-projects/_qmake/**/MakeFile.Debug
cpp-projects/_qmake/**/MakeFile.Release

## unity-projects
unity-projects/exp-launcher/Logs
unity-projects/exp-launcher/SteamVR*
unity-projects/exp-launcher/Unity.XRLineRenderer*
unity-projects/exp-launcher/Assets/_TerrainAutoUpgrade
unity-projects/exp-launcher/*.exe
unity-projects/exp-launcher/.vs
unity-projects/exp-launcher/Packages
unity-projects/exp-launcher/AssetBundles
unity-projects/exp-launcher/etc
unity-projects/exp-launcher/Library
unity-projects/exp-launcher/UnityPackageManager
unity-projects/exp-launcher/obj
unity-projects/exp-launcher/Temp
unity-projects/exp-launcher/Temp
unity-projects/exp-launcher/Assets/Plugins
unity-projects/exp-launcher/Assets/AssetBundles
unity-projects/exp-launcher/Assets/Thirdparty/private

## thirdparty
cpp-projects/_thirdparty/**/*.sh
cpp-projects/_thirdparty/**/*.re
cpp-projects/_thirdparty/**/*.txt
cpp-projects/_thirdparty/**/*.dtd
cpp-projects/_thirdparty/**/*.pl
cpp-projects/_thirdparty/**/*.m4
cpp-projects/_thirdparty/**/*.ilk
cpp-projects/_thirdparty/**/*.inc
cpp-projects/_thirdparty/**/*.db
cpp-projects/_thirdparty/**/*.shm
cpp-projects/_thirdparty/**/*.erb
cpp-projects/_thirdparty/**/*.wal
cpp-projects/_thirdparty/**/*.bat
cpp-projects/_thirdparty/**/*.patch
cpp-projects/_thirdparty/**/*.exe
cpp-projects/_thirdparty/**/.editorconfig